*{
    margin: 0;
    padding: 0;
}
.wrapper{
    background: url(backdrop.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    opacity: 90%;
}
.navbar{
    height: 50px;
    width: 100%;
    background-color:rgba(135, 207, 235, 0.899);
    border: 1px solid black;
    position: fixed;
}
.fa-solid{
  font-size: 2em; 
  padding-top: 8px;
  padding-left: 50px;
}
.text1{
    position: absolute;
    left: 90px;
    top: 12px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fa-solid, .text1{
  color: rgba(0, 0, 0, 0.759);
}
.navbar ul{
float: right;
margin-right: 20px;
list-style: none;
}
.navbar ul li{
    display: inline-block;
    padding-right: 30px;
    line-height: 55px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar ul li a:hover{
    color: red;
}
.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 100px;
}
.intro h1{
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.intro p{
    font-size: 35px;
    position: absolute;
    top: 120px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.intro a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    font-weight: bold;
}
.intro .btn{
  width: 200px;
  height: 50px;
  position: absolute;
  top: 220px;
  border: 1px solid black;
  border-radius: 50px 20px;
  background: linear-gradient(
    90deg,
    rgba(245, 245, 245, 0.836),
    rgb(135, 207, 235)
  )
}
.intro .btn:hover{
    background-color: rgb(128, 128, 128);
}
.intro .btn:active{
    transform: scale(1.2);
    cursor: pointer;
}

/* xs */
@media (min-width: 475px) {
body {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
body {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
body {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
body {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  body {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  body {
    max-width: 1536px;
  }
}

/* Index1 */

#index1body{
background-color:black;
border: 5px solid orange;
}
#header1{
  padding-bottom: 700px;
  margin-left: 10px;
  font-style: italic;
  color: orange;
  text-decoration: underline;
}
.desc1{
  padding-left: 510px;
  position: absolute;
  top: 80px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff5c3;
  font-style: italic;
}
#aboutme{
  width: 500px;
  height: auto;
}

/*Index2*/

#myself{
color: #E30B5C;
font-style: oblique;
}
.capital{
  font-size: 2em;
}
.photos{
  background-color: #CCCCFF;
}
.photos img{
padding: 50px;
width: 200px;
height: auto;
border-radius: 90px;

}
.photos img:hover{
  transform: translateY(-5%);
  background-color: rgba(135, 207, 235, 0.899);
} 

/*Index3*/

#medals{
  width: 100%;
  height: 750px;
}
#index3body{
  background-color:	#d2b48c;
}
.achievements img{
  margin-top: 20px;
  width: 250px;
  height: auto;
}
.achievements img:hover{
  transform: translateY(-5%);
  border-radius: 95px;
}
#h{
  height: 200px;
}
#header2{
  display: flex;
  justify-content: center;
  color: darkblue;
}

/*Index4*/

#index4body{
  background-color:	#e4fff0;
  border: 5px solid black;
}
#contact{
  width: 50%;
  height: 770px;
}

.contactinfo{
padding-left: 1000px;
position: absolute;
top: 5px;
color:#031856;
font-size: 1em;
font-style: italic;
font-weight: bold;
}
#ttl{
  font-size: 30px;
}
#icons{
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
